<% content_for :title, @restaurant.brand %>

<h1><div id="brand"><%= @restaurant.brand %></div></h1>
<h3><div id="branch"><%= @restaurant.branch %></div></h3>

<div>
  <% unless @categories.nil? %>
    <% @categories.each do |cat| %>
      <% products = cat.products.in_stock.all %>
      <% if products.length > 0 %>
        <h3><%= cat.title %></h3>
        <% products.each do |product| %>
          <div>
            <%= product.title %>
            <strong>$ <%= product.price %></strong>
            <%= form_tag url_for(:controller => 'orders', :action => 'create'), :method => 'post' do %>
              <%= hidden_field_tag :product_id, product.id %>
              <%= hidden_field_tag :kitchen_id, product.kitchen_id %>
              <%= hidden_field_tag :cart_id, @cart.id %>
              <%= hidden_field_tag :quantity, 1 %>
              <%= submit_tag "Add to Cart" if @cart.open? && product.available? %>
            <% end %>
          </div>
          <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
